.home_section {
    width: 100%;
    position: relative;
    top: 60px;
    background-color: #e7e7e7;
    min-height: calc(100vh - 60px);
    border-bottom: 2px solid rgba(199, 199, 199);
    margin-bottom: 10px;
}

.banner-container {
    width: 100%;
    margin: 0 auto;
}

.banner_img {
    width: 100%;
    height: auto;
    display: block;
}

.slick-slider {
    width: 100%;
}

.slick-slide img {
    width: 100%;
    height: auto;
}