.home_section {
    width: 100%;
    position: relative;
    top: 60px;
    background-color: #e7e7e7;
    min-height: calc(100vh - 60px);
    border-bottom: 2px solid rgba(199, 199, 199);
    margin-bottom: 10px;
}

.embla {
    overflow: hidden;
    width: 100%;
}

.embla__container {
    display: flex;
    will-change: transform;
}

.embla__slide {
    position: relative;
    flex: 0 0 100%;
    min-width: 0;
}

.banner_img {
    width: 100%;
    height: auto;
    display: block;
}